# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

__pycache__
*/__pycache__/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# too large files are not allowed to be uploaded to git repo
resource/set1/set1-driving-full.mp4

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks
